.bd-grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 100%;
  max-width: 1024px;
  gap: 2rem;
  width: calc(100% - 2rem);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


a {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

li {
  padding-left: 40px;
  color: #000;
}

.categories li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 18px bold;
}

.auth {
  display: flex;
  align-items: center;
}


.auth h4 {
  margin-right: 30px;
}


img {
  max-width: 100%;
}


.top-section {
  /* padding: 15rem; */
  position: relative;
  min-height: 450px;
  text-align: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.top-cta {
  position: absolute;
  margin: 10rem 5rem;
  background-color:#d88a83;
  padding: 15px;
  max-width: 350px;
  min-width: 350px;
  border-radius: 2px;
}

.text-block {
  margin: 10px 0px;
}


.story-section,
.gecko-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.gecko-section {
  background-color: #0a1826;
  border-radius: 0px 50px 0px 50px;
  color: #ffffff;
  margin-top: 5rem;
}

.policy {
  display: flex;
  padding: 10px 50px;
}

.policy-prop {
  display: flex;
  padding: 0 10px;
}

.the-story {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 100px 200px;
  gap: 150px;
  align-items: center;;
}

.the-main-story {
  text-align: left;
}

.couple {
  max-width: 448px;
  height: auto;
  border-radius: 3px;
}

.light-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.light-button:hover .right {
  transform: translateX(.30rem);
}

.charlie-section {
  background-color: #d88a83;
}

.charlie-section,
.delta-section,
.echo-section,
.foxtrot-section {
  display: block;
  text-align: center;
  align-items: center;
  padding: 50px 0px;
  margin-top: 130px;
}



.charlie-container {
  row-gap: 3rem;
  grid-template-columns: repeat(4, auto);
}

.product-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-details:hover {
  cursor: pointer;
}


.product-img {
  max-width: 250px;
  height: auto;
}

.product-info {
  font-size: 20px;
  margin-top: .5rem;
}

.product-price {
  font-size: 18px;
  font-weight: 600;
  color: #0A1826;
  margin-top: .5rem;
}

.hotel-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*margin: 3rem 5rem;*/
  gap: 2.5rem;
  padding: 250px;
}

.hotel-section > div {
  margin: auto;
}

.gallery-section {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}


.community {
  width: 270px;
  height: 270px;
  border-radius: 3px;
  background-color: #000;
}

.community img {
  max-width: 100%;
  max-height: 100%;
}

.community-teaser {
  width: 270px;
  height: 270px;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  background-color: #d88a83;
}

@media screen and (max-width: 576px) {

  .bd-grid {
    display: grid;
    margin: 0 2rem;
    grid-template-columns: 100%;
    max-width: 1024px;
    gap: 2rem;
    width: calc(100% - 2rem);
  }

  .product-details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}