

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


a {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

li {
  padding-left: 40px;
  color: #000;
}

.categories li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 18px bold;
}

.auth {
  display: flex;
  align-items: center;
}


.auth h4 {
  margin-right: 30px;
}

.top-section {
  /* padding: 15rem; */
  position: relative;
  min-height: 450px;
  text-align: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.top-cta {
  position: absolute;
  margin: 10rem 5rem;
  background-color:#d88a83;
  padding: 15px;
  max-width: 350px;
  min-width: 350px;
  border-radius: 2px;
}

.text-block {
  margin: 10px 0px;
}

.story-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.policy {
  display: flex;
  padding: 10px 50px;
}

.policy-prop {
  display: flex;
  padding: 0 10px;
}

.the-story {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 150px;
  gap: 100px;
  align-items: center;
}

.couple {
  max-width: 448px;
  height: auto;
}
